<footer class="site-footer">
  <div class="container align-left">
    <div class="social-connections">
      <h2>Let's Connect</h2>
      <a href="https://twitter.com/nobodyiscertain" target="_blank" rel="noindex nofollow">
        <%= image_tag "twitter.svg", alt: "Twitter Logo" %>
      </a>
      <a href="https://www.linkedin.com/in/nobodyiscertain" target="_blank" rel="noindex nofollow">
        <%= image_tag "linkedin.png", alt: "LinkedIn Logo" %>
      </a>
      <a href="https://github.com/nobodyiscertain" target="_blank" rel="noindex nofollow">
        <%= image_tag "github.svg", alt: "GitHub logo" %>
      </a>
      <a href="https://instagram.com/nobodyiscertain/" target="_blank" rel="noindex nofollow">
        <%= image_tag "instagram.svg", alt: "Instagram Logo" %>
      </a>
      <a href="mailto:hey@nobodyiscertain.com" target="_blank" rel="noindex nofollow">
        <%= image_tag "icon-mail.svg", alt: "Email Icon" %>
      </a>
    </div>
    <p class="copyright">
      Copyright &copy; nobodyiscertain LLC <%= Time.now.strftime('%Y') %>
    </p>
  </div>
</footer>

<% if environment == :build %>
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" site="GQPVCESM" defer></script>
<!-- / Fathom -->
<% end %>
